<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container mt-5">
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    {{msg}}
    {% endfor %}
    {% endif %}
    {% endwith %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Branch</th>
        <th>Role</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reg %}
      <tr>
        <td>{{r.id}}</td>
        <td>{{r.name}}</td>
        <td>{{r.surname}}</td>
        <td>{{r.mobile}}</td>
        <td>{{r.email}}</td>
        <td>{{r.branch}}</td>
       <td>{{r.role}}</td>
       <td><a href="{{url_for('editData',register_id=r.id)}}">Edit</a></td>
      <td><a href="{{url_for('deleteData',register_id=r.id)}}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
 
 <div class="container"> 
<div class="btn btn-primary">
  <a href="{{url_for('addData')}}"><font color="white">Add New Data</font></a>
</div>
</div>

</body>
</html>






